body {
  background-color: #eee6c4;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  display: block;
  margin-bottom: 10px;
}

.club {
  text-align: center;
  margin-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.table {
  color: #703b1f;
}
